<div *ngIf="show; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <div style="margin-bottom: 16px;">
    <button nz-button class="tool-btn-green" (click)="addNewRow()" disabled="true">
      新增
    </button>
    <button nz-button [nzType]="'primary'" (click)="reFresh()">
      刷新
    </button>
  </div>

  <nz-table #service [nzData]="deviceservices" [nzSize]="default">
    <thead>
    <tr>
      <th>服务名称</th>
      <th>地址</th>
      <th>端口号</th>
      <th>服务描述</th>
      <th>运行状态</th>
      <th>管理状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of service.data">
      <td>{{data.name}}</td>
      <td>{{data.addressable.address}}</td>
      <td>{{data.addressable.port}}</td>
      <td>{{data.description}}</td>
      <td>{{data.operatingState}}</td>
      <td >{{data.adminState}}</td>
      <td>
        <a (click)="editRow(data.id)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a style="color:#F22;" nz-popconfirm nzTitle="确认删除该事件吗？" (nzOnConfirm)="deleteRow(data.id,data.addressable.name)"
               (nzOnCancel)="cancelDelete()">删除</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-template>
<ng-template #elseBlock>
  <div style="margin-bottom: 16px;">
    <button nz-button [nzType]="'primary'" (click)="saveServiceInfo()">保存</button>
    <button nz-button (click)="goback()">返回</button>
  </div>
  <div nz-row nzGutter="2" style="margin-bottom: 0">
    <div nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-label>设备服务</nz-form-label>
          <input nz-input placeholder="" [(ngModel)]="selectservice.name" style="width: 100%">
      </nz-form-item>
    </div>
    <div nz-col nzSpan="5"  nzOffset="1" >
      <nz-form-item>
        <nz-form-label>运行状态</nz-form-label>
          <nz-select  [(ngModel)]="selectservice.operatingState" style="width: 100%">
            <nz-option *ngFor="let o of opertionstates" [nzValue]="o" [nzLabel]="o"></nz-option>
          </nz-select>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="5"  nzOffset="1" >
      <nz-form-item>
        <nz-form-label>管理状态</nz-form-label>
          <nz-select  [(ngModel)]="selectservice.adminState" style="width: 100%">
            <nz-option *ngFor="let o of adminstates" [nzValue]="o" [nzLabel]="o"></nz-option>
          </nz-select>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="5"  nzOffset="1" >
      <nz-form-item>
        <nz-form-label>描述</nz-form-label>
        <input nz-input placeholder="" [(ngModel)]="selectservice.description">
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="2" style="margin-bottom: 0">
    <div nz-col nzSpan="23">
        <nz-divider nzText="寻址信息"  style="margin: 0px" nzOrientation="left"></nz-divider>
    </div> 
  </div>
  <div nz-col nzSpan="7" nzOffset="0">
    <div nz-row nzGutter="2" style="margin-bottom: 0">
      <nz-form-item>
        <nz-form-label>寻址名称</nz-form-label>
        <input nz-input placeholder="" [(ngModel)]="selectservice.addressable.name">
      </nz-form-item>
    </div>
    <div nz-row nzGutter="2" style="margin-bottom: 0">
      <nz-form-item>
        <nz-form-label>地址</nz-form-label>
        <input nz-input placeholder="" [(ngModel)]="selectservice.addressable.address">
      </nz-form-item>
    </div>
  </div>
  <div nz-col nzSpan="7" nzOffset="1">
    <div nz-row nzGutter="2" style="margin-bottom: 0">
      <nz-form-item>
        <nz-form-label>协议</nz-form-label>
        <nz-select  [(ngModel)]="selectservice.addressable.protocol" style="width: 100%">
          <nz-option *ngFor="let o of protcolData" [nzValue]="o" [nzLabel]="o"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-row nzGutter="2" style="margin-bottom: 0">
      <nz-form-item>
        <nz-form-label>端口号</nz-form-label>
        <nz-input-number  [(ngModel)]="selectservice.addressable.port" style="width: 100%"></nz-input-number>
      </nz-form-item>
    </div>
  </div>
  <div nz-col nzSpan="7" nzOffset="1">
    <div nz-row nzGutter="2" style="margin-bottom: 0">
      <nz-form-item>
        <nz-form-label>方式</nz-form-label>
        <nz-select  [(ngModel)]="selectservice.addressable.method" style="width: 100%">
          <nz-option *ngFor="let o of methodData" [nzValue]="o" [nzLabel]="o"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
    <div nz-row nzGutter="2" style="margin-bottom: 0">
      <nz-form-item>
        <nz-form-label>路径</nz-form-label>
        <input nz-input placeholder="" [(ngModel)]="selectservice.addressable.path">
      </nz-form-item>
    </div>
  </div>  
</ng-template>

