<!--设备详情-->
<app-device-detail *ngIf="currDevice" [device]="currDevice" [head]="head" (result)="detailClose($event)"
                   (deleteOne)="detailNext($event)"></app-device-detail>

<div *ngIf="showlist">
  <div style="margin-bottom: 16px;">
    <button nz-button class="tool-btn-green" (click)="add()">
      新增
    </button>
    <button nz-button [nzType]="'primary'" (click)="reload()">
      刷新
    </button>
  </div>

  <nz-table #deviceServicesData [nzData]="devices" [nzLoading]="loading" [nzSize]="'middle'">
    <thead>
    <tr>
      <th>设备</th>
      <th>描述</th>
      <th>标签</th>
      <!--<th>创建时间</th>-->
      <!--<th>修改时间</th>-->
      <th>状态</th>
      <th>管理</th>
      <th>操作</th>
      <!--<th>所属服务</th>-->
      <!--<th>详细地址</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of deviceServicesData.data">
      <td>{{data.name}}</td>
      <td>{{data.description}}</td>
      <td>{{data.labels}}</td>
      <!--<td>{{data.created}}</td>-->
      <!--<td>{{data.modified}}</td>-->
      <td>{{data.operatingState}}</td>
      <td>{{data.adminState}}</td>
      <td>
        <a (click)="rowSelected(data.id)">详情</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="delete(data.id)" style="color:#F22;">删除</a>
      </td>
      <!--<td>-->
      <!--<a (click)='rowSelected(data.id)' nz-popover nzTrigger="click" [nzContent]="serviceTemplate"-->
      <!--nzPlacement="bottom">-->
      <!--{{data.service.name}}-->
      <!--</a>-->
      <!--</td>-->
      <!--<td>-->
      <!--<a (click)='rowSelected(data.id)' nz-popover  nzTrigger="click" [nzContent]="addTemplate" nzPlacement="bottomRight">-->
      <!--{{data.addressable.name}}-->
      <!--</a>-->
      <!--</td>-->
    </tr>
    </tbody>
  </nz-table>
</div>

