<nz-layout style="height: 100%;">
  <nz-sider nzWidth="210px" style="height: 100%;overflow: auto">
    <ul [nzTheme]="'dark'" nz-menu [nzMode]="'inline'" style="height: 100%">
      <li>
        <div>
          <img [src]="logoPath" alt="inspur" style="width: 13rem; padding-top: 0.3rem">
        </div>
      </li>
      <li nz-submenu>
        <span title>
          <i class="icon-linechart"></i>
            &nbsp;边缘分析</span>
        <ul>
          <li nz-menu-item (click)="content='边缘连接'">
            <span title>
              <i class="icon-desktop"></i>
               &nbsp;边缘连接</span>
          </li>
          <!--<li nz-menu-item (click)="content='边缘配置'">-->
            <!--<span title>-->
              <!--<i class="icon-setting"></i>-->
               <!--&nbsp;边缘配置</span>-->
          <!--</li>-->
        </ul>
      </li>

      <li nz-menu-item (click)="content='边缘智能'">
            <span title>
              <i class="icon-bulb"></i>
               &nbsp;边缘智能</span>
      </li>

      <li nz-menu-item (click)="content='数据订阅'">
            <span title>
              <i class="icon-export"></i>
               &nbsp;数据订阅</span>
      </li>

      <li nz-menu-item (click)="content='任务调度'">
            <span title>
              <i class="icon-reloadtime"></i>
               &nbsp;任务调度</span>
      </li>

      <li nz-menu-item (click)="content='通知告警'">
            <span title>
              <i class="icon-notification"></i>
               &nbsp;通知告警</span>
      </li>

      <li nz-menu-item (click)="content='数据管理'">
            <span title>
              <i class="icon-database"></i>
               &nbsp;数据管理</span>
      </li>

      <li nz-submenu>
            <span title>
              <i class="icon-cluster"></i>
               &nbsp;设备管理</span>
        <ul>
          <li nz-menu-item (click)="content='设备注册'"><i class="icon-edit"></i>
            &nbsp;设备注册
          </li>
          <li nz-menu-item (click)="content='设备服务'"><i class="icon-fork"></i>
            &nbsp;设备服务
          </li>
          <li nz-menu-item (click)="content='设备配置'"><i class="icon-file"></i>
            &nbsp;设备配置
          </li>
        </ul>
      </li>

      <!--网关代理实际使用发现没用-->
      <!--<li nz-menu-item (click)="content='网关代理'">-->
            <!--<span title>-->
              <!--<i class="icon-link"></i>-->
               <!--网关代理</span>-->
      <!--</li>-->

    </ul>
  </nz-sider>

  <nz-layout style="height: 100%;background-color: #fff">
    <nz-content [ngClass]="{'dark-content':(content=='边缘连接')||(content=='任务调度')||(content=='边缘智能')||(content=='欢迎'),'light-content':(content!='边缘连接')&&(content!='任务调度')&&(content!='边缘智能')&&(content!='欢迎')}" >
      <div *ngIf="content=='欢迎'" class="welcome-page" style="height: 100%;">
        <!--重要-->
        <!--加入app-login自动跳转登录，直接在4200试运行时备注掉，否则无限加载登录页。实机部署时取消备注，否则没有权限不能获取微服务数据-->
        <h1>Inspur Edge Access System</h1>

        <app-login></app-login>

        <!--<img [src]="framePath" alt="" style="width:904px;height:480px;">-->
      </div>

      <div *ngIf="content=='设备注册'">
        <app-device></app-device>
      </div>

      <div *ngIf="content=='设备服务'">
        <app-device-service></app-device-service>
      </div>

      <div *ngIf="content=='设备配置'">
        <app-profile></app-profile>
      </div>

      <div *ngIf="content=='边缘连接'" >
        <app-grafana></app-grafana>
      </div>

      <div *ngIf="content=='边缘配置'">
        <app-grafana-setup></app-grafana-setup>
      </div>

      <div *ngIf="content=='边缘智能'">
        <app-edge-int></app-edge-int>
      </div>

      <div *ngIf="content=='通知告警'">
        <app-notification></app-notification>
      </div>

      <div *ngIf="content=='数据管理'">
        <app-database></app-database>
      </div>

      <div *ngIf="content=='数据订阅'">
        <app-export></app-export>
      </div>

      <div *ngIf="content=='任务调度'" >
        <app-rulelist></app-rulelist>
      </div>

      <div *ngIf="content=='网关代理'">
        <app-gateway></app-gateway>
      </div>
    </nz-content>
    <!--<nz-footer style="text-align: center; background: #fff;line-height: 20px"></nz-footer>-->
  </nz-layout>

</nz-layout>

