<nz-content style="width: 100%;height: 100%">
  <div [ngClass]="{'smalldiv':btn,'expdiv':!btn}">
    <i [class]="btn?'icon-setting':'icon-close'" [ngClass]="{'smallbtn':btn,'expbtn':!btn}" (click)="btn=!btn"></i>
    <div *ngIf="!btn" class="contentdiv">
      <!-- <label style="line-height: 24px">图表链接:</label>
      <textarea nz-input [(ngModel)]="defaultUrl" rows="2" (ngModelChange)="getUrl()" [nzAutosize]="{ minRows: 2, maxRows: 4 }"></textarea> -->
      <div *ngIf="show; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        <div style="margin: 2px;">
          <button nz-button  class="tool-btn-green"  (click)="addnewRow()">
            新增
          </button>
          <button nz-button (click)="reFresh()" [nzType]="'primary'">
            刷新
          </button>
        </div>
        <nz-table  #basicTable nzSize="small" nzPageSize="4" [nzData]="dataSet">
          <thead>
          <tr>
            <th nzWidth="15%">名称</th>
            <th nzWidth="40%">地址</th>
            <th nzWidth="20%">描述</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.name}}</td>
            <td class="lineEllipsis">{{data.address}}</td>
            <td >{{data.description}}</td>
            <td>
              <a (click)="editRow(data.name)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="openUrl(data)">大屏</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a style="color:#F22;" nz-popconfirm nzTitle="确定删除?" (nzOnConfirm)="deleteRow(data.name)">删除</a>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </ng-template>
      <ng-template #elseBlock>
        <!-- <div style="margin-left: 5px;">
          <button nz-button [nzType]="'primary'" (click)="save()">保存</button>
          <button nz-button (click)="goback()">返回</button>
        </div> -->
        <nz-content>
            <div nz-row nzGutter="0">
                <div nz-col nzSpan="18" nzOffset="0">
                    <button nz-button [nzType]="'primary'" (click)="save()">保存</button>
                    <button nz-button (click)="goback()">返回</button>
                </div>
              </div>
            <div nz-row nzGutter="0">
              <div nz-col nzSpan="10" nzOffset="0">
                <nz-form-item >
                  <nz-form-label>名称</nz-form-label>
                  <input nz-input   [(ngModel)]="editData.name">
                </nz-form-item>
              </div>
            </div>
      
            <div nz-row nzGutter="0">
              <div nz-col nzSpan="18" nzOffset="0">
                <nz-form-item >
                  <nz-form-label>地址</nz-form-label>
                  <input nz-input   [(ngModel)]="editData.address">
                </nz-form-item>
              </div>
            </div>
            <div nz-row nzGutter="0">
              <div nz-col nzSpan="18" nzOffset="0">
                <nz-form-item >
                  <nz-form-label>描述</nz-form-label>
                  <input nz-input   [(ngModel)]="editData.description">
                </nz-form-item>
              </div>
            </div>
        </nz-content>
      </ng-template> 
    </div>
  </div>

  <iframe
    class="iframe"
    style="width: 100%;height: 100%"
    frameborder="0">
  </iframe>
</nz-content>
